# --- Librerie Standard ---
streamlit
pandas
numpy
scikit-learn
joblib
plotly
gspread
google-api-python-client
oauth2client
streamlit-js-eval
pytz

# --- Dipendenze Speciali da GitHub ---
# Aggiungiamo il link diretto a GitHub per pytorch-dilate-loss
# Questo risolve l'errore "No matching distribution found"
pytorch-dilate-loss @ git+https://github.com/vincent-leguen/DILATE.git@main

# --- Librerie PyTorch ---
# Mantenere questo blocco alla fine per assicurare la corretta installazione di PyTorch
torch
torchvision
torchaudio
--extra-index-url https://download.pytorch.org/whl/cu118
