# File di requisiti per l'ambiente di GitHub Actions
# Questo file contiene le versioni esatte delle librerie per garantire la riproducibilità.

# Librerie principali per il Machine Learning
pandas==2.3.1
numpy==1.26.4
scikit-learn==1.2.2
joblib==1.5.1

# PyTorch per CPU - La direttiva --find-links si occuperà di trovare la build per CPU
--find-links https://download.pytorch.org/whl/cpu/torch_stable.html
torch==2.7.1
torchaudio==2.5.1
torchvision==0.20.1

# Librerie per l'interazione con Google Sheets e utility
gspread==6.2.1
google-auth-oauthlib>=0.7.0
pytz

# Dipendenze necessarie per gspread
google-api-python-client
