# --- Librerie Standard ---
streamlit
pandas
numpy
scikit-learn
joblib
plotly
gspread
google-api-python-client
oauth2client
streamlit-js-eval
pytz

# --- Dipendenze Speciali da GitHub ---
# CORRETTO: Cambiato @main con @master

# --- Librerie PyTorch ---
# Mantenere questo blocco alla fine per assicurare la corretta installazione di PyTorch
torch
torchvision
torchaudio
--extra-index-url https://download.pytorch.org/whl/cu118
